html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f5efe6;
    margin: 0;
}

/* ===== NAVBAR ===== */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #e6f3ff;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo {
    font-weight: bold;
    font-size: 1.4rem;
    color: #0077ff;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #4b4bb7;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0077ff;
}

/* ===== SECTION CARDS ===== */

.section-card {
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 1100px;
    padding: 25px;
    border-radius: 12px;
    background-color: #ffffff;   
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}
.card-text h2 {
    margin-top: 0;  
}


.card-img {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;        
    justify-content: center;     
}

.card-img img {
    width: calc(50% - 6px);      
    border-radius: 12px;
    object-fit: cover;
}

/* =====  CAROUSEL  ===== */

.card-img {
    flex: 1;
    display: flex;
    flex-wrap: wrap;       
    gap: 12px;
}

.card-img img {
    width: calc(50% - 6px);  
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}


/* ===== FOOTER ===== */

.footer {
  text-align: center;
  padding: 25px 10px;
  background-color: #e6f3ff;
  color: #555;
  font-size: 0.95rem;
  border-top: 1px solid #cbdcf5;
}



.social-links {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.social-links a {
    font-size: 1.8rem;
    color: #0077ff;
    transition: 0.2s ease;
}

.social-links a:hover {
    color: #004c99;
    transform: scale(1.15);
}

/* ===== SIMPLE ANIMATION w3Schools experimenting stuff  ===== */

section {
    animation: fadeUp 0.8s ease-in-out;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}